<h1>Bienvenido Para Alquilar una Película o Serie </h1>

<div>
	<h2>Arrendar Película </h2>
	<form method="get">
		<label>Nombre y Apellido:</label>
			<input type="text" name="nombre">
		
		<label>Correo Electrónico:</label>
			<input type="email" name="correo">

		<label>	Seleccionar Pelicula: </label>
			<%= select_tag(:Pelicula, options_for_select(@peliculas))%>

		<input type="submit" value="Guardar">

	</form>
</div>

<div>
	<h2>Arrendar Serie </h2>
	<form method="get">
		<label>Nombre y Apellido:</label>
			<input type="text" name="nombre">
		
		<label>Correo Electrónico:</label>
			<input type="email" name="correo">

		<label>Seleccionar Serie: </label>
			<%= select_tag(:Serie, options_for_select(@series))%>

		<input type="submit" value="Guardar">

	</form>
</div>
