<h1>Bienvenido Para Alquilar una Película o Serie </h1>

<div>
	<form method="get">
		<label>Nombre y Apellido:</label>
			<input type="text" name="nombre">
		
		<label>Correo Electrónico:</label>
			<input type="email" name="correo">

		<label>Título: </label>
			<input type="text" name="titulo">

		<input type="submit" value="Guardar">

	</form>
</div>
